:host {
  display: block;
}
.drawer-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.drawer-header > .close-btn {
  position: absolute;
  top: .5rem;
  right: .5rem;
}