:host {
  display: block;
}
.accordion-pane .accordion-body > div {
  transition-delay: 0s;
  transition-duration: 0.20s;
  transition-property: var(--easing-fn);
  transition-property: max-height, height;
}
.accordion-pane .accordion-header .accordion-arrow {
  transition-delay: 0s;
  transition-duration: 0.20s;
  transition-property: var(--easing-fn);
  transition-property: transform;
}

.accordion-pane.closed .accordion-body > div {
  height: 0;
  max-height: 0;
  overflow: hidden;
}
.accordion-pane.closed .accordion-header .accordion-arrow {
  transform: rotate(0deg);
}
.accordion-pane.open .accordion-body > div {
  /* height: 100%px; */
  max-height: 150px;
  overflow: auto;
}
.accordion-pane.open .accordion-header > div {
  border-bottom: none;
}
.accordion-pane.open .accordion-body > div {
  border-bottom-style: solid;
  border-bottom-color: var(--gs-2);
  border-bottom-color: var(--gs-2);
  border-bottom-width: 1px;
}
.accordion-pane.open .accordion-header .accordion-arrow {
  transform: rotate(180deg);
}
