:host {
  display: block;
}
/* Base input styles */
.zen-input input {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  -webkit-appearance: none;
  transition-timing-function: var(--easing-fn);
  transition-duration: .20s;
  transition-delay: 0s;
  transition-property: border-color;
  outline: none;
  border-color: var(--gs-1);
}
/* Disabled styles */
.zen-input.disabled input {
  opacity: .75;
  cursor: not-allowed;
}
/* Readonly styles */
.zen-input input:read-only {
  cursor: not-allowed;
}
/* Invalid styles */
.zen-input input[aria-invalid="true"] {
  border-color: var(--danger);
}
/* Required styles */
.zen-input.required input:after {
  color: var(--danger);
  content: " *";
}

/* Size styles */
.zen-input.sm input {
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  border-radius: .15rem;
  font-size: .85rem;
}
.zen-input.md input {
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.zen-input.lg input {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1.1rem;
  border-radius: .33rem;
}
.zen-input.xl input {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.33rem;
  border-radius: .5rem;
}

/* outline */
.zen-input.outline input {
  border-style: solid;
  border-image: initial;
  border-radius: .25rem;
}

/* flushed */
.zen-input.flushed input {
  border-width: 0 0 2px 0;
}

/* unstyled */
.zen-input.unstyled input {
  border-width: 0;
}

/* Focus styles */
.zen-input:not(.disabled) input:not(:read-only):focus {
  border-color: var(--primary);
}
.zen-input.unstyled:not(.disabled) input:not(:read-only):focus {
  outline-width: 2px;
  outline-style: auto;
  outline-color: var(--primary);
}

/*
.zen-input-flushed {
    border-width: 0px 0px 2px 0px;
}
.zen-input.zen-input-element-left-sm {
    padding-left: calc(var(--font-size) * 2);
}
.zen-input.zen-input-element-right-sm {
    padding-right: calc(var(--font-size) * 2);
}
.zen-input.zen-input-element-left-md {
    padding-left: calc(var(--font-size) * 2.5);
}
.zen-input.zen-input-element-right-md {
    padding-right: calc(var(--font-size) * 2.5);
}
.zen-input.zen-input-element-left-lg {
    padding-left: calc(var(--font-size) * 3);
}
.zen-input.zen-input-element-right-lg {
    padding-right: calc(var(--font-size) * 3);
}
.zen-input[aria-invalid="true"], .zen-textarea[aria-invalid="true"] {
    border-color: var(--danger-color) !important;
} */