*, ::after, ::before {
    box-sizing: border-box;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}
.zen-no-scroll {
    overflow: hidden;
}
.zen-tooltip {    
    position: absolute;
    background-color: var(--gs-6);
    border-radius: .25rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .85rem;
    font-weight: bold;
    color: var(--gs-1);
    z-index: var(--tooltip-z-index);
  }
 .zen-tooltip:before {
    content: " ";
    width: 0;
    height: 0;
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-top: .5rem solid var(--gs-6);
    position: absolute;
    bottom: -.5rem;
    left: 1rem;
  } 
